$TextColor-1: rgb(158, 31, 31);
$TextColor-2: rgb(12, 111, 169);
$TextColor-3: rgb(108, 14, 106);
$TextSize-1: 4rem;
$TextSize-2: 2.5rem;
$TextSize-3: 1.75rem;

$DivBorder: 0.5rem groove rgb(191, 207, 194);
$BooksBorder: 0.1rem solid rgb(192, 33, 33);

body {
  background-size: cover;
  padding-bottom: 5%;
}

.head {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;

  h1 {
    color: $TextColor-1;
    font-size: $TextSize-1;
    background-color: bisque;
    border: $DivBorder;
    border-radius: 5%;
  }

  h2 {
    color: $TextColor-2;
    font-size: $TextSize-2;
  }

  p {
    color: $TextColor-3;
    font-size: $TextSize-3;
  }
}

.books {
  img {
    max-width: 10em;
    max-height: 10em;
    margin: 1% 5%;
    padding: 0 5%;
  }
  @for $i from 1 through 5 {
    .book-#{$i} {
      background-color: burlywood;
      border: $BooksBorder;
      border-radius: 5%;
      margin: 2% 33%;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
  }
   a {
     margin-right: -5%;
     margin-left: -10%;
     padding: 0 15%;
       }
}

footer {
  .breaker {
    clear: both;
  }
  a {
    float: right;
    margin: 1% 1%;
  }
}
